body, a {
  background-color: #2C2B3D;
  color: #FFFFFF;
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  line-height: 28px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1083px;
  margin: 71px auto 101px;
  }

nav ul {
  display: flex;
  gap: 64px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

main {
  display: flex;
  gap: 82px;

  width: 1092px;
  margin-inline: auto;
}

main .texto {
  text-align: center;
}
main h1 {
  font-weight: 700;
  line-height: 40px;
}
main p {
  font-family: "Open Sans", sans-serif;
  color: #C2C2C2;
}
span {
  color: #00BFA6;
}

footer{
  width: 568px;
  margin-top: 157px;
  margin-inline: auto;

  text-align: center;
}
footer .divisoria{
    border: solid 1px #00BFA6;
}